$l-regular : 'Lato-Regular';
$magehand : 'Magehand';

// import fonts
@font-face {
    font-family: $l-regular;
    src : url('../assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: $magehand;
    src: url('../assets/fonts/Magehand.ttf') format("truetype"),
        url('../assets/fonts/Magehand.woff') format("woff"),
        url('../assets/fonts/Magehand.woff2') format("woff2");        
}

body {
    background-color: $black;
    font-family: $l-regular;
}

.body--blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/images/bg.jpg') no-repeat fixed center;
    background-size: cover;
    filter: blur(3px);
}

.main {
    color: $white;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 70%;
    
    img {
        height: 350px;
    }

    @include media-breakpoint-down(sm) {
        height: 30%;
        width: 75%;

        h1 {
            font-size: 28px;
        }

        img {
            height: 200px;
        }
    }
}